.energy {
    position: absolute;

    font-size: 20px;

    top: 60px;
    right: 20px;
    gap: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    img {
        height: 25px;
    }
}