.name_wrapper {
    height: 40px;

    display: flex;
    gap: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    img {
        filter: brightness(0) invert(1);
        height: 100%;
    }
}

.header {
    height: 40px;

    padding: 0 20px;
    user-select: none;

    display: flex;
    justify-content: space-between;
}

.level {
    display: flex;

    justify-content: space-between;
    align-items: center;

    position: absolute;
    user-select: none;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 10px;


    font-size: 30px;
}

progress {
    width: 80%;
    height: 10px;

    position: absolute;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

    appearance: none;

    &::-webkit-progress-bar {
        background-color: #f4f4f4;
        border-radius: 20px;
    }

    &::-webkit-progress-value {
        background-color: #2167a1;
        border-radius: 20px;
        transition: all 0.2s ease;

    }

    border-radius: 100px;
}

.invite {
    position: absolute;
    font-size: 20px;

    gap: 5px;
    width: fit-content;
    user-select: none;

    cursor: pointer !important;

    height: 40px;

    bottom: 20px;
    left: 20px;

    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    img {
        filter: brightness(0) invert(1);
        height: 25px;
    }
}


.popup {
    position: absolute;

    bottom: 80px;
    left: 50%;

    transform: translateX(-50%);

    border-radius: 20px;
    background-color: black;
    opacity: 1;

    padding: 15px 30px;

    width: 80%;

    z-index: 100;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}