@import "./normalize.scss";
@import "./null.scss";

$width: 385px;

* {
    position: relative;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: inherit;
    color: white;

    user-select: none;
}

html,
body {
    position: relative;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: #17212b;

    color: white;

    width: 100%;
    height: 100%;

    min-height: 100dvh;

    overflow: hidden;
}

#root {

    min-height: 100dvh;

    width: 100%;
    height: 100%;
}